<section>

  <div class="flex flex-col items-center">

    <article class="w-[70%] md:grid md:grid-cols-3 gap-8 bg-slate-600 p-8">
      
      <img src="{{dog.image}}" alt="{{dog.name}}'s photo" class="col-start-1 col-end-3 row-start-1 row-end-2 rounded-lg">

      <div class="flex flex-col justify-between">
        <img src="{{dog.image}}" alt="{{dog.name}}'s photo" class="rounded-lg">
        <img src="{{dog.image}}" alt="{{dog.name}}'s photo" class="rounded-lg">
      </div>     
    </article>

    <article class="w-[70%]">
      <h2 class="text-5xl p-8">{{dog.name}}</h2>

      <div class="grid grid-cols-2 m-8 gap-4 w-[60%]">

        <div class="rounded-lg bg-white/80 p-4">
            <h3>Licence</h3>
            <p>{{dog.licence}}</p>
        </div>

        <div>
            <h3>Sex</h3>
            <p>{{dog.sex}}</p>
        </div>

        <div>
            <h3>Age</h3>
            <p>{{dog.age}} years old</p>
        </div>


        <div>
            <h3>Size</h3>
            <p>{{dog.size}}</p>
        </div>

        {{#if dog.weight}}
        <div>
            <h3>Weight</h3>
            <p>{{dog.weight}}</p>
        </div>
        {{/if}}

        {{#if dog.breed}}
        <div>
            <h3>Breed</h3>
            <p>{{dog.breed}}</p>
        </div>
        {{/if}}

        {{#if dog.idealHome}}
        <div>
            <h3>Ideal home</h3>
            <p>{{dog.idealHome}}</p>
        </div>
        {{/if}}

        {{#if dog.livingWithChildren}}
        <div>
            <h3>Living with children</h3>
            <p>{{dog.livingWithChildren}}</p>
        </div>
        {{/if}}

        {{#if dog.livingWithDogs}}
        <div>
            <h3>Living with dogs</h3>
            <p>{{dog.livingWithDogs}}</p>
        </div>
        {{/if}}

        {{#if dog.livingWithCats}}
        <div>
            <h3>Living with cats</h3>
            <p>{{dog.livingWithCats}}</p>
        </div>                
        {{/if}}

      </div>

      <h3>More about {{dog.name}}</h3>
      <p>{{dog.about}}</p>
    </article>


    {{#isAdmin currentUser}}
    <form method="post" action="/dogs/{{../dog.id}}/delete">
      <button type="submit">Delete</button> 
    </form>

    <a href="/dogs/{{../dog.id}}/update">Edit</a>

    {{/isAdmin}}

  </div>




</section>