
<main class="md:flex gap-24"> 

  <aside class="hidden md:block bg-radial w-64 border border-white rounded-lg" aria-label="Sidebar">
  <div class="px-4">
    <h2>Sort & Filter</h2>
      <form action="/dogs" method="get">
        <fieldset class="my-6">
              <legend class="font-bold">Sort By</legend>
                <div>
                  <input type="radio" id="weight" name="SortBy" value="weightAsc" class="cursor-pointer">
                  <label for="weight">Weight</label>
                </div>

                <div>
                  <input type="radio" id="age" name="SortBy" value="ageAsc" class="cursor-pointer">
                  <label for="age">Age</label>
                </div>
            </fieldset>


        <ul class="space-y-6 mb-6 font-medium">
          
          <li>
            <fieldset class="mt-2">
              <legend class="font-bold">Sex</legend>
      
                <div>
                  <input type="radio" id="male" name="sex" value="male" class="cursor-pointer" {{isSelected "male" query.sex}}>
                  <label for="male">Male</label>
                </div>

                <div>
                  <input type="radio" id="female" name="sex" value="female" class="cursor-pointer" {{isSelected "female" query.sex}}>
                  <label for="female">Female</label>
                </div>
            </fieldset>
          </li>

          <li>
          <fieldset class="mt-2">
          <legend class="font-bold">Size</legend>
          <div>
            <input type="radio" id="small" name="size" value="small" class="cursor-pointer" {{isSelected "small" query.size}}>
            <label for="small">Small</label>
          </div>
          <div>
            <input type="radio" id="medium" name="size" value="medium" class="cursor-pointer" {{isSelected "medium" query.size}}>
            <label for="medium">Medium</label>
          </div>
          <div>
            <input type="radio" id="large" name="size" value="large" class="cursor-pointer" {{isSelected "large" query.size}}>
            <label for="large">Large</label>
          </div>              
          <div>
            <input type="radio" id="xl" name="size" value="xl" class="cursor-pointer" {{isSelected "xl" query.size}}>
            <label for="xl">Extra-large</label>
          </div>
        </fieldset>
          </li>

          <li>          
            <div class="relative mb-6 ">
              <h4>Max Age</h4>
              <label for="labels-range-input" class="sr-only">Labels range</label>
              <input id="labels-range-input" name="maxAge" type="range" value="{{query.maxAge}}" min="1" max="15" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
              <span class="text-sm absolute start-0 -bottom-6">1</span>
              <span class="text-sm  absolute start-1/3 -translate-x-1/2 rtl:translate-x-1/2 -bottom-6">5</span>
              <span class="text-sm absolute start-2/3 -translate-x-1/2 rtl:translate-x-1/2 -bottom-6">10</span>
              <span class="text-sm absolute end-0 -bottom-6">15</span>
            </div></li>

          <li>
            <fieldset class="mt-2">
            <legend class="font-bold">Need a licence?</legend>
            <div>
              <input type="radio" id="yes" name="licence" value="yes" class="cursor-pointer" {{isSelected "yes" query.licence}}>
              <label for="yes">Yes</label>
            </div>
        
            <div>
              <input type="radio" id="no" name="licence" value="no" class="cursor-pointer" {{isSelected "no" query.licence}}>
              <label for="no">No</label>
            </div>
            </fieldset>
          </li>

          <li>
            <fieldset>
            <legend class="font-bold">Home desired</legend>
          
            <div>
              <input type="radio" id="any" name="idealHome" value="any" class="cursor-pointer" {{isSelected "any" query.idealHome}}>
              <label for="any">Any Location</label>
            </div>
          
            <div>
              <input type="radio" id="away" name="idealHome" value="away" class="cursor-pointer" {{isSelected "away" query.idealHome}}>
              <label for="away">Away From Inner City</label>
            </div>

            </fieldset>
          </li>

          <li>
            <fieldset>
              <legend class="font-bold">Living with children</legend>
        
              <div>
                <input type="radio" id="yes" name="livingWithChildren" value="yes" class="cursor-pointer" {{isSelected "yes" query.livingWithChildren}}>
                <label for="yes">Yes</label>
              </div>
            
              <div>
                <input type="radio" id="no" name="livingWithChildren" value="no" class="cursor-pointer" {{isSelected "no" query.livingWithChildren}}>
                <label for="no">No</label>
              </div>
            </fieldset>
          </li>

          <li>
              <fieldset>
              <legend class="font-bold">Living with dogs</legend>
        
              <div>
                <input type="radio" id="yes" name="livingWithDogs" value="yes" class="cursor-pointer" {{isSelected "yes" query.livingWithDogs}}>
                <label for="yes">Yes</label>
              </div>
            
              <div>
                <input type="radio" id="no" name="livingWithDogs" value="no" class="cursor-pointer" {{isSelected "no" query.livingWithDogs}}>
                <label for="no">No</label>
              </div>
            </fieldset>
          </li>

          <li>
            <fieldset>
              <legend class="font-bold">Living with cats</legend>
        
              <div>
                <input type="radio" id="yes" name="livingWithCats" value="yes" class="cursor-pointer" {{isSelected "yes" query.livingWithCats}}>
                <label for="yes">Yes</label>
              </div>
            
              <div>
                <input type="radio" id="no" name="livingWithCats" value="no" class="cursor-pointer" {{isSelected "no" query.livingWithCats}}>
                <label for="no">No</label>
              </div>
            </fieldset>
          </li>
        </ul>

        <button type="submit" class="block border w-full py-2 m-2 mx-auto border-white rounded-lg">Search</button>

        <a href="/dogs" class="block border w-full py-2 m-2 text-center mx-auto border-white rounded-lg">Reset</a>


      </form>
  </div>
</aside>


<section>

  <div class="py-16 text-center">

    <h2 class="text-3xl md:text-5xl">Our compagnons</h2>

    <p class="mt-8  leading-normal text-gray-color md:w-4/5 md:mx-auto">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel
            suscipit voluptate obcaecati iure, nesciunt quod unde sunt repellat
            similique delectus.
    </p>

    <div class="md:text-center my-8 flex justify-center gap-4">
      {{#isAdmin currentUser}}
        <a href="/dogs/create" class="border rounded-lg bg-accent-color p-2 cursor-pointer inline-block">Add a dog</a>
      {{/isAdmin}}

      {{#isAdmin currentUser}}
        <a href="/cats/create" class="border rounded-lg bg-accent-color p-2 cursor-pointer inline-block">Add a cat</a>
      {{/isAdmin}}

      {{#isAdmin currentUser}}
        <a href="/animals/create" class="border rounded-lg bg-accent-color p-2 cursor-pointer inline-block">Add another animal</a>
      {{/isAdmin}}
    </div>


    <div class="grid justify-items-center md:grid-cols-4 grid-flow-row gap-x-16 gap-y-8">
  
  {{#each dogs as |dog|}}
  
  <article role="button" onclick="window.location.href='/dogs/{{dog.id}}'" class="relative bg-radial w-[18rem] h-[28rem] grid justify-items-center justify-center p-2 border-4 rounded-lg shadow-black shadow-md cursor-pointer  hover:scale-[1.10] transition-all">

    <div class="w-full pt-1 flex gap-1">
        <h3 class="ml-2 text-xl uppercase">{{dog.name}}</h3> 
        {{#isSex dog "male"}}<img src="../../assets/male.svg" alt="" class="w-6 h-6">{{/isSex}}
        {{#isSex dog "female"}}<img src="../../assets/female.svg" alt="" class="w-6 h-6">{{/isSex}}
    </div>
              
    <div class=" aspect-square mx-2">
      <img class="rounded-full aspect-square  mx-auto md:w-full md:rounded-lg md:border-2" src="{{dog.image}}">
    </div>

    <div class="w-full flex justify-between text-start capitalize my-2">
      <div class="ml-3">
        <h4>{{dog.sex}}</h4>
        <h4>{{dog.age}} years old</h4>
      </div>
      <div class="mr-6 text-center">
        <h4>Size:</h4>
        <h4>{{dog.size}}</h4>
      </div>
        
    </div>


    <div class="flex justify-start mb-4 gap-4 ">

      <a href="/dogs/{{dog.id}}" class="bg-blue-700 border-2 text-white text-center py-2 px-6  rounded-xl font-bold hover:scale-110 transition-transform block">Learn about me</a>
          
      <img src="../../assets/heart.svg" alt="Add to favorites" class=" w-10 h-10">

    </div>

    {{#if dog.licence}}<div class="flex gap-1 justify-center border-2 py-1 rounded-b-lg bg-red-400/80 px-[0.650rem] w-[91.5%] absolute bottom-[8.7rem] ">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-5 aspect-square fill-black">
        <path d="M11.001 10h2v5h-2zM11 16h2v2h-2z"><title>Requires a license</title></path><path d="M13.768 4.2C13.42 3.545 12.742 3.138 12 3.138s-1.42.407-1.768 1.063L2.894 18.064a1.986 1.986 0 0 0 .054 1.968A1.984 1.984 0 0 0 4.661 21h14.678c.708 0 1.349-.362 1.714-.968a1.989 1.989 0 0 0 .054-1.968L13.768 4.2zM4.661 19 12 5.137 19.344 19H4.661z"></path>
      </svg>
      <p class=" text-sm">You need a license to pick me</p>
    </div>{{/if}}

  </article>

  
{{/each}} 

</div>

  </div>
</section>
</main>