
<main class="md:flex gap-24"> 

  <aside class="hidden md:block bg-red-400 w-64 border border-white rounded-lg" aria-label="Sidebar">
  <div class="px-4">
    <h2>Sort & Filter</h2>
      <form action="/cats" method="get">
        <fieldset class="my-6">
              <legend class="font-bold">Sort By</legend>
                <div>
                  <input type="radio" id="weight" name="SortBy" value="weightAsc" class="cursor-pointer">
                  <label for="weight">Weight</label>
                </div>

                <div>
                  <input type="radio" id="age" name="SortBy" value="ageAsc" class="cursor-pointer">
                  <label for="age">Age</label>
                </div>
            </fieldset>


        <ul class="space-y-6 mb-6 font-medium">
          
          <li>
            <fieldset class="mt-2">
              <legend class="font-bold">Sex</legend>
      
                <div>
                  <input type="radio" id="male" name="sex" value="male" class="cursor-pointer" {{isSelected "male" query.sex}}>
                  <label for="male">Male</label>
                </div>

                <div>
                  <input type="radio" id="female" name="sex" value="female" class="cursor-pointer" {{isSelected "female" query.sex}}>
                  <label for="female">Female</label>
                </div>
            </fieldset>
          </li>

          <li>
          <fieldset class="mt-2">
          <legend class="font-bold">Size</legend>
          <div>
            <input type="radio" id="small" name="size" value="small" class="cursor-pointer" {{isSelected "small" query.size}}>
            <label for="small">Small</label>
          </div>
          <div>
            <input type="radio" id="medium" name="size" value="medium" class="cursor-pointer" {{isSelected "medium" query.size}}>
            <label for="medium">Medium</label>
          </div>
          <div>
            <input type="radio" id="large" name="size" value="large" class="cursor-pointer" {{isSelected "large" query.size}}>
            <label for="large">Large</label>
          </div>              
          <div>
            <input type="radio" id="xl" name="size" value="xl" class="cursor-pointer" {{isSelected "xl" query.size}}>
            <label for="xl">Extra-large</label>
          </div>
        </fieldset>
          </li>

          <li>          
            <div class="relative mb-6 ">
              <h4>Max Age</h4>
              <label for="labels-range-input" class="sr-only">Labels range</label>
              <input id="labels-range-input" name="maxAge" type="range" value="{{query.maxAge}}" min="1" max="15" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
              <span class="text-sm absolute start-0 -bottom-6">1</span>
              <span class="text-sm  absolute start-1/3 -translate-x-1/2 rtl:translate-x-1/2 -bottom-6">5</span>
              <span class="text-sm absolute start-2/3 -translate-x-1/2 rtl:translate-x-1/2 -bottom-6">10</span>
              <span class="text-sm absolute end-0 -bottom-6">15</span>
            </div></li>

          <li>
            <fieldset class="mt-2">
            <legend class="font-bold">Need a licence?</legend>
            <div>
              <input type="radio" id="yes" name="licence" value="yes" class="cursor-pointer" {{isSelected "yes" query.licence}}>
              <label for="yes">Yes</label>
            </div>
        
            <div>
              <input type="radio" id="no" name="licence" value="no" class="cursor-pointer" {{isSelected "no" query.licence}}>
              <label for="no">No</label>
            </div>
            </fieldset>
          </li>

          <li>
            <fieldset>
            <legend class="font-bold">Home wanted</legend>
          
            <div>
              <input type="radio" id="any" name="idealHome" value="any" class="cursor-pointer" {{isSelected "any" query.idealHome}}>
              <label for="any">Any Location</label>
            </div>
          
            <div>
              <input type="radio" id="away" name="idealHome" value="away" class="cursor-pointer" {{isSelected "away" query.idealHome}}>
              <label for="away">Away From Inner City</label>
            </div>

            </fieldset>
          </li>

          <li>
            <fieldset>
              <legend class="font-bold">Living with children</legend>
        
              <div>
                <input type="radio" id="yes" name="livingWithChildren" value="yes" class="cursor-pointer" {{isSelected "yes" query.livingWithChildren}}>
                <label for="yes">Yes</label>
              </div>
            
              <div>
                <input type="radio" id="no" name="livingWithChildren" value="no" class="cursor-pointer" {{isSelected "no" query.livingWithChildren}}>
                <label for="no">No</label>
              </div>
            </fieldset>
          </li>

          <li>
              <fieldset>
              <legend class="font-bold">Living with dogs</legend>
        
              <div>
                <input type="radio" id="yes" name="livingWithDogs" value="yes" class="cursor-pointer" {{isSelected "yes" query.livingWithDogs}}>
                <label for="yes">Yes</label>
              </div>
            
              <div>
                <input type="radio" id="no" name="livingWithDogs" value="no" class="cursor-pointer" {{isSelected "no" query.livingWithDogs}}>
                <label for="no">No</label>
              </div>
            </fieldset>
          </li>

          <li>
            <fieldset>
              <legend class="font-bold">Living with cats</legend>
        
              <div>
                <input type="radio" id="yes" name="livingWithCats" value="yes" class="cursor-pointer" {{isSelected "yes" query.livingWithCats}}>
                <label for="yes">Yes</label>
              </div>
            
              <div>
                <input type="radio" id="no" name="livingWithCats" value="no" class="cursor-pointer" {{isSelected "no" query.livingWithCats}}>
                <label for="no">No</label>
              </div>
            </fieldset>
          </li>
        </ul>

        <button type="submit" class="block border w-full py-2 m-2 mx-auto border-white rounded-lg">Search</button>

        <a href="/cats" class="block border w-full py-2 m-2 text-center mx-auto border-white rounded-lg">Reset</a>


      </form>
  </div>
</aside>


<section>


  <div class=" py-16 text-center">

    <h2 class="text-3xl md:text-5xl">Our compagnons</h2>

    <p class="mt-8  leading-normal text-gray-color md:w-4/5 md:mx-auto">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel
            suscipit voluptate obcaecati iure, nesciunt quod unde sunt repellat
            similique delectus.
    </p>

    <div class="md:text-center my-8 flex justify-center gap-4 ">
      {{#isAdmin currentUser}}
        <a href="/dogs/create" class="border rounded-lg bg-accent-color p-2 cursor-pointer inline-block">Add a dog</a>
      {{/isAdmin}}

      {{#isAdmin currentUser}}
        <a href="/cats/create" class="border rounded-lg bg-accent-color p-2 cursor-pointer inline-block">Add a cat</a>
      {{/isAdmin}}

      {{#isAdmin currentUser}}
        <a href="/animal/create" class="border rounded-lg bg-accent-color p-2 cursor-pointer inline-block">Add another animal</a>
      {{/isAdmin}}
    </div>


    <div class="md:px-10 md:py-10 bg-red-300/70 bg-bg-icons grid grid-cols-[repeat(auto-fit,minmax(220px,1fr))] justify-items-center auto-rows-fr gap-8 mx-auto ">
  
{{#each cats as |cat|}}
  <article class=" bg-red-400/90 grid justify-items-center border rounded-lg p-8 cursor-pointer shadow-black shadow-md">
    <h3 class="text-xl mt-4 mb-2 uppercase border rounded-t-lg">{{cat.name}}</h3>
    <div class=" diagonal-clip border rounded-t-lg">
      <img class="w-[90%] aspect-square rounded-full max-w-sm mx-auto md:lg:rounded-none" src="{{cat.image}}">
    </div>
    <div>
      <h4 class="mt-4 mb-2 uppercase">{{cat.sex}} <br> {{cat.age}} years old</h4>
      <p class="leading-10 text-gray-600">{{cat.breed}}</p>

      <a href="/cats/{{cat.id}}" class="bg-blue-700 text-white text-center py-4 px-2 mt-6 rounded-xl font-bold hover:scale-110 transition-transform inline-block">Learn about me</a>
    
    </div>
    
    </article>
{{/each}} 

</div>

  </div>
</section>
</main>